* {
    font-family: arial, sans-serif;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

a:link, a:visited {
    color:#636262;
    text-decoration: none;
}
